In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Read the data into a dataframe

In [2]:
# read the data

df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',sheet_name=None, header=1)

In [3]:
print(df.keys())

dict_keys(['Title Sheet', 'Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress'])

###  Assigning sheets to dataframe objects

In [4]:
transactions_df = df['Transactions']
New_customers_df = df['NewCustomerList']
customer_demographic_df = df['CustomerDemographic']
customer_address_df = df['CustomerAddress']
title_docx = df['Title Sheet']

## Assess the datasets one after the other:

#### Transaction dataset assessment

In [5]:
transactions_df.head(10)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031.0
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455.0
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0

In [7]:
transactions_df.shape

(20000, 13)

error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000172501027D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

There are 20000 entries in the dataset.

### Note that, we're going to catch the issues as we explore the dataset which will be documented at the bottom of this notebook.

In [6]:
# first check for null values

transactions_df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

there are null values in the dataset, which indicates an issue of completeness.

In [12]:
# check for duplicate transactions

transactions_df.duplicated().value_counts()

False    20000
dtype: int64

No duplicate transactions.

In [14]:
transactions_df.product_first_sold_date.sample(5)

2091     40303.0
11915    36367.0
9374     37220.0
12747    36361.0
6230     42560.0
Name: product_first_sold_date, dtype: float64

Entries in product_first_sold_date column have to be of date data type but they're float. This raises an issues of validity

In [15]:
transactions_df.online_order.value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

online_order column must be boolean data type but we have float. Floating points do not give a relevant meaning to the column name online_order hence it raises an issue of validity.

In [17]:
transactions_df.order_status.value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

### Data quality Issues:
> Completenes:
    >1. There are null values in the online_order, brand, product_line, product_class, product_size, standard_cost, product_first_sold_date columns.
    >2
    
> Consistency:
    >1. 
    
> Accuracy:
    >1. 
    
> Currency:
    >1. 
    
> Relevancy:
    >1. Product_class column is not relevant since there is also product_size columns. Both seem to have same format and interpretation therefore it is irrelevant to make use of both.
    >2. product_first_sold_date column is not relevant in a transaction database.
    
> Validity:
    >1. product_first_sold_date cloumn's data points are not valid date/datetime values.
    >2. online_order has invalid data types
    
> Uniquesness:
    >1.